{% extends "_base.njk" %}

{% block title %}
{% endblock %}

{% block content %}

<div class="start-butts col-lg-12">
  <button class="createGame" type="button" name="createGame">Create A New Game!</button>
  <button class="findGame" type="button" name="findGame">Find A Game!</button>
</div>
<div class="game-list">
  <ul id="gameList">
  </ul>
</div>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="/css/play.css" />
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="/js/findGame.js"></script>
{% endblock %}
