{% extends "_base.njk" %}

{% block title %}{% endblock %}

{% block content %}


<h2>{{ title }}</h2>

{% endblock %}

{% block css %}
<link rel="stylesheet" href="/css/forgot-password.css" />
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="/js/forgot-password.js"></script>
{% endblock %}
