{% extends "_base.njk" %}

{% block title %}{% endblock %}

{% block content %}


<h2 class="other-pages">{{ title }}</h2>

{% endblock %}

{% block css %}
<link rel="stylesheet" href="/css/other-pages.css" />
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="/js/other-pages.js"></script>
{% endblock %}
