{% extends "_base.njk" %}

{% block title %}
{% endblock %}

{% block content %}

<h2>{{ title }}</h2>
<div class="canvas-contain col-xs-8 col-md-8 col-lg-8">
  <canvas id="hexmap" class="canvas" width="800" height="650"></canvas>
  <canvas id="hexmap2" class="canvas2" width="800" height="650"></canvas>
</div>
<button class="findGame" type="button" name="findGame">Find A Game!</button>
<div class="chat container-fluid col-xs-4 col-md-4 col-lg-4">
   <div class="row">
     <div class="">
       <div id="messages"></div>
     </div>
     <div class="">
       <form class="chat-box" action="javascript:void(0)" id="roll-dice-form">
         <button class="btn btn-success" type="send" name="roll-dice" id="roll-dice">Roll</button>
       </form>
       <data value="" data-id="{{sessionID}}" data-name="{{name}}" id="myData"></data>
     </div>
   </div>
   <div id="typing"></div>
  <form action="javascript:void(0)" id="chatForm">
    <input id="m" autocomplete="off" /><button>Send</button>
  </form>
</div>

{% endblock %}

{% block css %}
<link rel="stylesheet" href="/css/play.css" />
{% endblock %}

{% block scripts %}
<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.5/socket.io.js" charset="utf-8"></script>
<!-- <script src="/socket.io/socket.io.js"></script> -->
<script type="text/javascript" src="/js/play.js"></script>
<script type="text/javascript" src="/js/playmore.js"></script>
<script type="text/javascript" src="/js/utility.js"></script>
<script type="text/javascript" src="/js/chat.js"></script>
<script type="text/javascript" src="/js/buttons.js"></script>
<script type="text/javascript" src="/js/roads.js"></script>
{% endblock %}
