{% extends "_base.njk" %}

{% block title %}{% endblock %}

{% block content %}

  <div class="home-page container">
    <h1>{{title}}</h1>
  </div>

  <div class="game-play col-lg-12">
    <a href="/play" class="play-butt btn"> PLAY CATAN! </a>
  </div>

{% endblock %}

{% block css %}
  <link rel="stylesheet" href="/css/main.css">
{% endblock %}

{% block scripts %}
  <script type="text/javascript" src="/js/main.js"></script>
{% endblock %}
