.canvas-contain {
  height: 600px;
  width: 800px;
  position: relative;
}

.canvas {
  border-style: groove;
  border-color: black;
  box-shadow: 5px 5px 10px lightgrey,
              -5px -5px 10px orange;
  height: 600px;
  width: 800px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
}

.canvas2 {
  border-style: groove;
  border-color: black;
  box-shadow: 5px 5px 10px lightgrey,
              -5px -5px 10px orange;
  height: 600px;
  width: 800px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}

.chat {
  padding: 5%;
}

#messages{
border:1px solid #aaa;
height:100px;
overflow:auto;
}
