.canvas-contain {
  display: none;
  height: 600px;
  width: 800px;
  position: relative;
}

.canvas {
  background: url('../images/canvas-background.jpg');
  border-style: groove;
  border-color: black;
  box-shadow: 5px 5px 10px lightgrey,
              -5px -5px 10px orange;
  position: absolute;
  left: 5;
  top: 0;
  z-index: 0;
}

.canvas2 {
  border-style: groove;
  border-color: black;
  box-shadow: 5px 5px 10px lightgrey,
              -5px -5px 10px orange;
  position: absolute;
  left: 5;
  top: 0;
  z-index: 1;
}

.chat {
  padding: 5%;
  margin-left: 10%;
}

#messages{
  border:1px solid #aaa;
  height:100px;
  overflow:auto;
}
